body, html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;
  background-color: black;
}

.dashboard {
  margin: 80px;
  background: white;
  border: 2px solid #ccc;
  padding: 20px;
  opacity: .8;
}

.play-list, .effect-list {
  height: 300px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 16px 0;
  box-sizing: content-box;
  border: solid 1px #ccc;
  user-select: none;
}

.item {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  transition: background-color .1s;
  white-space: nowrap;
  display: flex;
  font-family: sans-serif;
  position: relative;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.0625);
  transition: background-color .1s;
}
.item span {
  padding: 0 10px;
}
.item:before {
  content: "";
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1875);
  position: absolute;
  transition: width .2s;
}
.item.playing:before {
  width: 5px;
  transition: width .2s;
}
.item.selected {
  background-color: rgba(0, 0, 0, 0.125);
}
.right-float {
  position: absolute;
  right: 0;
  top: 0;
}
.effect-type {
  width: 100px;
  box-sizing: border-box;
}

.hide {
  display: none;
}
.hide-cursor {
  cursor: none;
}

.stage {
  position: fixed;
}

