.dashboard {
  margin: 80px;
  background: rgba(255, 255, 255, .5);
  border: 2px solid #ccc;
  display: flex;
}
.flex1 {
  flex: 1;
}
.dashboard > div.flex1 {
  margin: 20px;
}
.span-button {
  cursor: pointer;
  padding: 0 10px;
}

.play-list, .effect-list {
  height: 300px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 16px 0;
  box-sizing: content-box;
  border: solid 1px #ccc;
  user-select: none;
}

.list-item {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  transition: background-color .1s;
  white-space: nowrap;
  display: flex;
  font-family: sans-serif;
  position: relative;
}
.list-item:hover {
  background-color: #00000010;
  transition: background-color .1s;
}
.list-item span {
  padding: 0 10px;
}
.list-item:before {
  content: "";
  width: 0;
  height: 100%;
  background-color: #00000030;
  position: absolute;
  transition: width .2s;
}
.list-item.playing:before {
  width: 5px;
  transition: width .2s;
}
.list-item.selected {
  background-color: #00000020;
}
.effect-type {
  width: 100px;
  box-sizing: border-box;
}

.hide {
  display: none;
}
.hide-cursor {
  cursor: none;
}

body, html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;
}

.stage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.stage .comp {
  display: block;
  position: absolute;
}
.stage .spectrum {
  display: flex;
  flex-flow: row nowrap;
  width: 500px;
  justify-content: space-between;
}
.stage .spectrum .spectrum-bou {
  display: inline-block;
  width: 10px;
  background-color: #66ccff;
}
.stage .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: background-image 2s;
}

.fa-button {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00000000;
  background-origin: content-box;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px;
  opacity: .7;
  outline: none;
  transition: all .1s;
}
.fa-button[disabled] {
  cursor: default;
  opacity: .3;
  background-color: #00000000;
  transition: all .1s;
}
.fa-button[disabled]:hover {
  opacity: .3;
  background-color: #00000000;
  transition: all .1s;
}
.fa-button:hover {
  background-color: #00000020;
  transition: all .1s;
}
.fa-button:focus {
  background-color: #00000030;
  transition: all .1s;
}
.fa-button:active {
  background-color: #00000040;
  box-shadow: inset 0 0 10px #222;
  transition: all .1s;
}

