.sub-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #eee;
  box-shadow: 0 0 5px #ccc;
  user-select: none;
  transition: opacity .5s, box-shadow-color .5s;
  width: 350px;
}
.sub-window.moving {
  opacity: .7;
}
.sub-window.sw-focus {
  box-shadow: 0 0 10px #aaa;
}
.sub-window .sw-statebar {
  display: flex;
  background: white;
  min-height: 32px;
  box-sizing: border-box;
}
.sub-window .sw-statebar .sw-title {
  flex: 1;
  cursor: move;
  padding: 5px 10px;
}
.sub-window .sw-statebar .sw-close {
  padding: 5px 10px;
  cursor: pointer;
  transition: all .2s;
  width: 32px;
  text-align: center;
}
.sub-window .sw-statebar .sw-close:hover {
  color: white;
  background: red;
  transition: all .2s;
}
.sub-window .sw-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
}
.sw-container > div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 0;
}
.sw-container .c-multistring {
  display: block;
}
.sw-container .c-multistring textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100px;
}
.sw-container input, .sw-container select {
  width: 50%;
  box-sizing: border-box;
}
.sw-container input, .sw-container textarea, .sw-container select {
  outline: none;
  padding: 4px 5px;
  border: 1px solid #ccc;
  transition: border-color .2s;
}
.sw-container input:focus, .sw-container textarea:focus {
  border: 1px solid #666;
  transition: border-color .2s;
}
